In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


df = pd.read_csv('Dataset1.csv')
df.drop(columns=['CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'], inplace=True)
df.dropna(subset=['LATITUDE', 'LONGITUDE','LOCATION'],inplace=True)
df = df[df['LATITUDE']!=0]
df = df[df['LONGITUDE']!=0]
for col in df.columns:
    print(col)

# df['NUMBER OF PERSONS KILLED']
# df['TOTAL DEATHS'] = df['NUMBER OF PEDESTRIANS KILLED']+df['NUMBER OF CYCLIST KILLED']+df['NUMBER OF MOTORIST KILLED']

/tmp/ipykernel_6032/1743788116.py:6: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Dataset1.csv')

Unnamed: 0
CRASH DATE
CRASH TIME
BOROUGH
ZIP CODE
LATITUDE
LONGITUDE
LOCATION
ON STREET NAME
CROSS STREET NAME
OFF STREET NAME
NUMBER OF PERSONS INJURED
NUMBER OF PERSONS KILLED
NUMBER OF PEDESTRIANS INJURED
NUMBER OF PEDESTRIANS KILLED
NUMBER OF CYCLIST INJURED
NUMBER OF CYCLIST KILLED
NUMBER OF MOTORIST INJURED
NUMBER OF MOTORIST KILLED
CONTRIBUTING FACTOR VEHICLE 1
CONTRIBUTING FACTOR VEHICLE 2
COLLISION_ID
VEHICLE TYPE CODE 1
VEHICLE TYPE CODE 2

In [15]:
df1 = df[df['CRASH DATE']>='2013-01-01']
df1 = df1[df1['CRASH DATE']<='2013-12-31']
df1.sort_values(by='CRASH DATE',inplace=True)
df1

def custom_month_func(row):
    if row['CRASH DATE']>="2013-01-01" and row['CRASH DATE']<="2013-01-31":
        return "JAN-2013"
    elif row['CRASH DATE']>="2013-02-01" and row['CRASH DATE']<="2013-02-28":
        return "FEB-2013"
    elif row['CRASH DATE']>="2012-03-01" and row['CRASH DATE']<="2013-03-31":
        return "MAR-2013"
    elif row['CRASH DATE']>="2013-04-01" and row['CRASH DATE']<="2013-04-30":
        return "APR-2013"
    elif row['CRASH DATE']>="2013-05-01" and row['CRASH DATE']<="2013-05-31":
        return "MAY-2013"
    elif row['CRASH DATE']>="2013-06-01"and row['CRASH DATE']<="2013-06-30":
        return "JUN-2013"
    if row['CRASH DATE']>="2013-07-01" and row['CRASH DATE']<="2013-07-31":
        return "JUL-2013"
    elif row['CRASH DATE']>="2013-08-01" and row['CRASH DATE']<="2013-08-31":
        return "AUG-2013"
    elif row['CRASH DATE']>="2013-09-01" and row['CRASH DATE']<="2013-09-30":
        return "SEPT-2013"
    elif row['CRASH DATE']>="2013-10-01" and row['CRASH DATE']<="2013-10-31":
        return "OCT-2013"
    elif row['CRASH DATE']>="2013-11-01" and row['CRASH DATE']<="2013-11-30":
        return "NOV-2013"
    elif row['CRASH DATE']>="2013-12-01"and row['CRASH DATE']<="2013-12-31":
        return "DEC-2013"
df1['CRASH_MONTH'] = df1.apply(custom_month_func,axis=1)
df1

dict = {
    "JAN-2013":[0,0,0,0],
    "FEB-2013":[0,0,0,0],
    "MAR-2013":[0,0,0,0],
    "APR-2013":[0,0,0,0],
    "MAY-2013":[0,0,0,0],
    "JUN-2013":[0,0,0,0],
    'JUL-2013':[0,0,0,0],
    'AUG-2013':[0,0,0,0],
    'SEPT-2013':[0,0,0,0],
    'OCT-2013':[0,0,0,0],
    'NOV-2013':[0,0,0,0],
    'DEC-2013':[0,0,0,0]
}
for i,row in df1.iterrows():
    if row['CRASH_MONTH']=='JAN-2013':
        dict['JAN-2013'][0]+=row['NUMBER OF PEDESTRIANS KILLED']
        dict['JAN-2013'][1]+=row['NUMBER OF CYCLIST KILLED']
        dict['JAN-2013'][2]+=row['NUMBER OF MOTORIST KILLED']
        dict['JAN-2013'][3]+=row['NUMBER OF PERSONS KILLED']
    elif row['CRASH_MONTH']=='FEB-2013':
        dict['FEB-2013'][0]+=row['NUMBER OF PEDESTRIANS KILLED']
        dict['FEB-2013'][1]+=row['NUMBER OF CYCLIST KILLED']
        dict['FEB-2013'][2]+=row['NUMBER OF MOTORIST KILLED']
        dict['FEB-2013'][3]+=row['NUMBER OF PERSONS KILLED']
    elif row['CRASH_MONTH']=='MAR-2013':
        dict['MAR-2013'][0]+=row['NUMBER OF PEDESTRIANS KILLED']
        dict['MAR-2013'][1]+=row['NUMBER OF CYCLIST KILLED']
        dict['MAR-2013'][2]+=row['NUMBER OF MOTORIST KILLED']
        dict['MAR-2013'][3]+=row['NUMBER OF PERSONS KILLED']
    elif row['CRASH_MONTH']=='APR-2013':
        dict['APR-2013'][0]+=row['NUMBER OF PEDESTRIANS KILLED']
        dict['APR-2013'][1]+=row['NUMBER OF CYCLIST KILLED']
        dict['APR-2013'][2]+=row['NUMBER OF MOTORIST KILLED']
        dict['APR-2013'][3]+=row['NUMBER OF PERSONS KILLED']
    elif row['CRASH_MONTH']=='MAY-2013':
        dict['MAY-2013'][0]+=row['NUMBER OF PEDESTRIANS KILLED']
        dict['MAY-2013'][1]+=row['NUMBER OF CYCLIST KILLED']
        dict['MAY-2013'][2]+=row['NUMBER OF MOTORIST KILLED']
        dict['MAY-2013'][3]+=row['NUMBER OF PERSONS KILLED']
    elif row['CRASH_MONTH']=='JUN-2013':
        dict['JUN-2013'][0]+=row['NUMBER OF PEDESTRIANS KILLED']
        dict['JUN-2013'][1]+=row['NUMBER OF CYCLIST KILLED']
        dict['JUN-2013'][2]+=row['NUMBER OF MOTORIST KILLED']
        dict['JUN-2013'][3]+=row['NUMBER OF PERSONS KILLED']
    elif row['CRASH_MONTH']=='JUL-2013':
        dict['JUL-2013'][0]+=row['NUMBER OF PEDESTRIANS KILLED']
        dict['JUL-2013'][1]+=row['NUMBER OF CYCLIST KILLED']
        dict['JUL-2013'][2]+=row['NUMBER OF MOTORIST KILLED']
    elif row['CRASH_MONTH']=='AUG-2013':
        dict['AUG-2013'][0]+=row['NUMBER OF PEDESTRIANS KILLED']
        dict['AUG-2013'][1]+=row['NUMBER OF CYCLIST KILLED']
        dict['AUG-2013'][2]+=row['NUMBER OF MOTORIST KILLED']
        dict['AUG-2013'][3]+=row['NUMBER OF PERSONS KILLED']
    elif row['CRASH_MONTH']=='SEPT-2013':
        dict['SEPT-2013'][0]+=row['NUMBER OF PEDESTRIANS KILLED']
        dict['SEPT-2013'][1]+=row['NUMBER OF CYCLIST KILLED']
        dict['SEPT-2013'][2]+=row['NUMBER OF MOTORIST KILLED']
        dict['SEPT-2013'][3]+=row['NUMBER OF PERSONS KILLED']
    elif row['CRASH_MONTH']=='OCT-2013':
        dict['OCT-2013'][0]+=row['NUMBER OF PEDESTRIANS KILLED']
        dict['OCT-2013'][1]+=row['NUMBER OF CYCLIST KILLED']
        dict['OCT-2013'][2]+=row['NUMBER OF MOTORIST KILLED']
        dict['OCT-2013'][3]+=row['NUMBER OF PERSONS KILLED']
    elif row['CRASH_MONTH']=='NOV-2013':
        dict['NOV-2013'][0]+=row['NUMBER OF PEDESTRIANS KILLED']
        dict['NOV-2013'][1]+=row['NUMBER OF CYCLIST KILLED']
        dict['NOV-2013'][2]+=row['NUMBER OF MOTORIST KILLED']
        dict['NOV-2013'][3]+=row['NUMBER OF PERSONS KILLED']
    elif row['CRASH_MONTH']=='DEC-2013':
        dict['DEC-2013'][0]+=row['NUMBER OF PEDESTRIANS KILLED']
        dict['DEC-2013'][1]+=row['NUMBER OF CYCLIST KILLED']
        dict['DEC-2013'][2]+=row['NUMBER OF MOTORIST KILLED']
        dict['DEC-2013'][3]+=row['NUMBER OF PERSONS KILLED']
print(dict)
df2=pd.DataFrame.from_dict(dict,orient='index',columns=['PEDESTRIANS KILLED','CYCLIST KILLED','MOTORIST KILLED','TOTAL KILLED'])
df2

{'JAN-2013': [21, 0, 8, 29.0], 'FEB-2013': [11, 0, 7, 18.0], 'MAR-2013': [9, 1, 7, 17.0], 'APR-2013': [9, 0, 3, 12.0], 'MAY-2013': [7, 2, 6, 15.0], 'JUN-2013': [8, 2, 7, 17.0], 'JUL-2013': [12, 0, 10, 0], 'AUG-2013': [11, 1, 20, 32.0], 'SEPT-2013': [11, 0, 8, 19.0], 'OCT-2013': [11, 2, 5, 18.0], 'NOV-2013': [20, 0, 8, 28.0], 'DEC-2013': [11, 0, 5, 16.0]}

           PEDESTRIANS KILLED  CYCLIST KILLED  MOTORIST KILLED  TOTAL KILLED
JAN-2013                   21               0                8          29.0
FEB-2013                   11               0                7          18.0
MAR-2013                    9               1                7          17.0
APR-2013                    9               0                3          12.0
MAY-2013                    7               2                6          15.0
JUN-2013                    8               2                7          17.0
JUL-2013                   12               0               10           0.0
AUG-2013                   11               1               20          32.0
SEPT-2013                  11               0                8          19.0
OCT-2013                   11               2                5          18.0
NOV-2013                   20               0                8          28.0
DEC-2013                   11               0                5          16.0